<div id="page-wrapper">
    <section>
      <app-carousel [defaultSize]="defaultSize" [lastGroupPolicy]="lastGroupPolicy" [alignmentType]="alignmentType" [relativeSizes]="relativeSizes">
      </app-carousel>
    </section>
    <section>
      <div id="settings">
          <div>
              <label for="num">Number of elements</label>
              <input id="num" [(ngModel)]="defaultSize" />
          </div>
          <div>
              <label for="align">Alignment</label>
              <select id="align" [(ngModel)]="alignmentType">
                  <option value="align-center">Center</option>
                  <option value="align-distribute">Distribute</option>
                  <option value="align-left">Left</option>
                  <option value="align-right">Right</option>
              </select>
          </div>
          <div>
              <label for="last-group-policy">Last group policy</label>
              <select id="last-group-policy" [(ngModel)]="lastGroupPolicy">
                  <option value="display-remaining">Only display remaining elements</option>
                  <option value="display-previous">Display previous elements that fit</option>
              </select>
          </div>
          <div>
              <label for="relative-sizes">Use relative sizes</label>
              <input id="relative-sizes" [(ngModel)]="relativeSizes" type="checkbox">
          </div>
      </div>
    </section>
</div>